.right.attached.fixed.button {
    position: fixed;
    bottom: 1em;
}

.pusher {
    background-color: #FFFFFF;
    padding: 2em 2em;
    height: 100%;
    width: 100%;
}

svg {
    display: none;
    height: 500px;
    width: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}
